<p id="notice"><%= notice %></p>
<%== pagy_bootstrap_nav(@pagy)%>
<h1><%= t(".tasks")%></h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Is done</th>
      <th>Attachment</th>
      <th>Project</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.description %></td>
        <td><%= task.is_done %></td>
        <% unless !task.file.persisted? %>
        <td><%= link_to 'Download', task.file, download: ''%></td>
        <%else%>
        <td></td>
        <%end%>
        <td><%= task.project_id %></td>
        <td><%= task.user_id %></td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Hotové tasky', "/tasks?n=true" ,class: 'btn btn-primary'%>
<%= link_to 'Nedodělané tasky', "/tasks?n=false" ,class: 'btn btn-primary'%>
<%= link_to 'Všechny tasky', "/tasks?n=all" ,class: 'btn btn-primary'%>
