<p id="notice"><%= notice %></p>

<p>
  <strong><%=t("task.Title")%>:</strong>
  <%= @task.title %>
</p>

<p>
  <strong><%=t("task.Description")%>:</strong>
  <%= @task.description %>
</p>

<p>
  <strong><%=t("task.Is_done")%>:</strong>
  <%= @task.is_done %>
</p>
<% unless !@task.file.persisted? %>
<p>
  <strong><%=t("task.Attachment")%>:</strong>
  <%= link_to 'Download', @task.file, download: ''%>
</p>
<% end %>
<p>
  <strong><%=t("task.Project")%>:</strong>
  <%= @task.project_id %>
</p>

<p>
  <strong><%=t("task.User")%>:</strong>
  <%= @task.user_id %>
</p>

<%= link_to t("global.Edit"), edit_task_path(@task) %> |
<%= link_to t("global.Back"), tasks_path %> 
 <%= button_to t("global.Destroy"), task_path(@task), method: :delete, class: 'btn btn-primary', data: { confirm: 'Are you sure?' }%>
