<p id="notice"><%= notice %></p>

<p>
  <strong><%= t("tagedtask.Task") %>:</strong>
  <%= @taged_task.task_id %>
</p>
<p>
<<<<<<< HEAD
  <strong><%= t("tagedtask.Task_name") %>:</strong>
=======
  <strong>Task name:</strong>
>>>>>>> a7a346c7446c3398e8e716e477bb51a50db29083
  <%= @taged_task.task.title %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @taged_task.tag_id %>
</p>
 <p>
<<<<<<< HEAD
  <strong><%= t("tagedtask.Tag_name") %>:</strong>
=======
  <strong>Tag name:</strong>
>>>>>>> a7a346c7446c3398e8e716e477bb51a50db29083
  <%= @taged_task.tag.title %>
</p>  

<%= link_to t("global.Edit"), edit_taged_task_path(@taged_task) %> |
<%= link_to t("global.Back"), taged_tasks_path %>
