<<<<<<< HEAD
<h1><%= t("project.New_project_title")%></h1>
<%= render 'form', project: @project %>

<%= link_to t("global.Back"), projects_path %>
=======
<h1>New projekt</h1>
<%= render 'form', project: @project %>

<%= link_to 'Back', projects_path %>
>>>>>>> a7a346c7446c3398e8e716e477bb51a50db29083
