<p id="notice"><%= notice %></p>
<%== pagy_bootstrap_nav(@pagy)%>
<<<<<<< HEAD
<h1><%= t("global.Tags")%></h1>
=======
<h1>Tags</h1>
>>>>>>> a7a346c7446c3398e8e716e477bb51a50db29083

<table>
  <thead>
    <tr>
      <th><%= t("tag.Title")%></th>
      <th><%= t("tag.User")%></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tags.each do |tag| %>
      <tr>
        <td><%= tag.title %></td>
        <td><%= tag.user_id %></td>
        <td><%= link_to t("global.Show"), tag %></td>
        <td><%= link_to t("global.Edit"), edit_tag_path(tag) %></td>
        <td><%= link_to t("global.Destroy"), tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t("tag.New_tag"), new_tag_path,class: 'btn btn-primary' %>
